
# How do you reverse a string in Python?

In [ ]:
# How do you reverse a string in Python?

a="shivansh"


print(a,end="\n\n")

print(a[::-1])

shivansh

hsnavihs

In [ ]:
def reverse(s):
  r=s[::-1]
  return r


print(reverse("shivansh"))

hsnavihs

In [ ]:
reverse("devops")

'spoved'

# How do you check if a string is a palindrome?

"madam" ‚Üí Palindrome ‚úÖ
"racecar" ‚Üí Palindrome ‚úÖ
"devops" ‚Üí Not a palindrome ‚ùå

In [ ]:
def palindrome(s):
  return s == s[::-1]


palindrome("madam")

True

# How do you count the occurrences of a specific character in a string?

In [ ]:
"devops tool".count("o")

3

In [ ]:
s="devops tool"
s.count("o")

3

In [ ]:
def count_string(s,char):
  final=s.count(char)
  return final


count_string("devops tool ", "v")

1

In [ ]:
def st(string,char):
   final=string.count(char)
   return final


st("shivansh","sh")

2

# **How** do you check if a string contains only digits?

In [ ]:
"12looll".isdigit()

False

In [ ]:
"12345".isdigit()

True

In [ ]:
def num_string(sn):
  final = sn.isdigit()
  return final

num_string("123")

True

In [ ]:
num_string("123lll")

False

In [ ]:
def sh(s):
  return s.isdigit()

sh("122")

True

# How do you split a string by whitespace and join it with a hyphen?

In [ ]:
a= "Hi my name is shivansh"

"-".join(a.split())

'Hi-my-name-is-shivansh'

In [ ]:
from os.path import split
def ss(string):
  final = "-".join(string.split())
  return final

ss("shivansh name is shivam")

'shivansh-name-is-shivam'

# How do you remove all vowels from a given string?

In [ ]:
a="Devops Engineer"

result=""
for i in a:
  if i.lower() not in "aeiou":
    result=result+i

print(result)

Dvps ngnr

In [ ]:
def vow(st):
  result=""
  for i in st:
    if i.lower() not in "aeiou":
      result=result+i
  return result

vow("loisyt")

'lsyt'

In [ ]:
a="lopiquetylopslo"

result=""
for i in a:
  if i.lower() not in "aeiou":
    result=result+i
print(result)

lpqtylpsl

# How do you extract numbers from a given string?

In [ ]:
import re

a="12 lo ne 89 po to so"

re.findall(r"\d+",a)

['12', '89']

In [ ]:
import re
def exnum(s):
  return re.findall(r"\d+",s)

In [ ]:
exnum("lopoloh9078667")

['9078667']

In [ ]:
exnum("lopoloh\n9078667")

['9078667']

# How do you swap the case of each letter in a string?

In [ ]:
a="DevOps"

a.swapcase()

'dEVoPS'

In [ ]:
def swap(s):
  return s.swapcase()


swap("Shivansh Kumar")

'sHIVANSH kUMAR'

# How do you replace all spaces in a string with underscores?

In [ ]:
a= "Hi My name is shivansh"

"_".join(a.split())

'Hi_My_name_is_shivansh'

In [ ]:
a.split()

['Hi', 'My', 'name', 'is', 'shivansh']

In [ ]:
a="Hi you are done with string menupulation question"

a

'Hi you are done with string menupulation question'

In [ ]:
a.split()

['Hi', 'you', 'are', 'done', 'with', 'string', 'menupulation', 'question']

In [ ]:
for i in a:
  print(i, end=" ")

H i   y o u   a r e   d o n e   w i t h   s t r i n g   m e n u p u l a t i o n   q u e s t i o n

# How do you find the longest word in a string?

In [ ]:
a="DevOps is a combination of development and operation"

max(a.split(),key=len)

'combination'

In [ ]:
def logest(s):
  return max(s.split(),key=len)

logest("DevOps is a combination of development and operation")

'combination'

## Advanced String Manipulation

# Write a function to remove duplicate characters from a string while preserving order.

In [ ]:
a="DevOpsTools"

In [ ]:
set(a.split())

{'DevOpsTools'}

In [ ]:
"".join(set(a))

'plDvoTsOe'

In [ ]:
a = "DevOpsTools"
print("".join(set(a)))  # order in not preserving order.

plDvoTsOe

In [ ]:
a = "DevOpsTools"
b=a.lower()
"".join(dict.fromkeys(b))

'devopstl'

In [ ]:
def dup(s):
   return "".join(dict.fromkeys(s.lower()))


dup("DevOpsTools")

'devopstl'

# How do you find the first non-repeating character in a string?

In [ ]:
from collections import  Counter

a="shivansh"

In [ ]:
Counter(a)

Counter({'s': 2, 'h': 2, 'i': 1, 'v': 1, 'a': 1, 'n': 1})

In [ ]:
from collections import Counter

def occ(s):
  char_count = Counter(s)
  for i in s:
    if char_count[i] ==1:
      return i
  return None

In [ ]:
occ("shivansh")

'i'

In [ ]:
occ("sivanh")

's'

In [ ]:
occ("ssiivvaannhh")

In [ ]:
from collections import Counter

In [ ]:
a="shivam"

In [ ]:
Counter(a)

Counter({'s': 1, 'h': 1, 'i': 1, 'v': 1, 'a': 1, 'm': 1})

In [ ]:
def occs(s):
  char_count=Counter(s)
  for i in s:
    if char_count[i] == 1:
      return i
  return None

In [ ]:
occs("shivam")

's'

# How do you check if two strings are anagrams?

In [ ]:
a="listen"
b="slient"

sorted(a) == sorted(b)

True

In [ ]:
def anagram(a,b):
  sorted(a)==sorted(b)
  return "angram"

In [ ]:
anagram("listen","silent")

'angram'

In [ ]:
sorted(a)

['e', 'i', 'l', 'n', 's', 't']

In [ ]:
sorted(b)

['e', 'i', 'l', 'n', 's', 't']

# üíö
# How do you format a log message with dynamic values using f-strings?

log_level = "ERROR" </br>
message = "Disk space low"  </br>
timestamp = "2025-03-01 12:00:00"  </br>

Output:  </br>

[2025-03-01 12:00:00] ERROR: Disk space low

In [ ]:
log_level = "ERROR"
message = "Disk space low"
timestamp = "2025-03-01 12:00:00"


format_log=f"[{timestamp}] {log_level}:  {message}"

In [ ]:
print(format_log)

[2025-03-01 12:00:00] ERROR:  Disk space low

In [ ]:
for_st= f"[{timestamp}] {log_level} : {message}"

In [ ]:
print(for_st)

[2025-03-01 12:00:00] ERROR : Disk space low

# How do you parse a log file and extract error messages using regex?

### Example: Extract all lines that start with "ERROR" from a log file.




### INFO Server started successfully </br>
### ERROR Disk space low </br>
### WARNING High memory usage </br>
### ERROR Connection timeout </br>
### INFO Request processed </br>

In [ ]:
import re


log_data = """
INFO Server started successfully
ERROR Disk space low
WARNING High memory usage
ERROR Connection timeout
INFO Request processed
"""

In [ ]:
error= re.findall(r"ERROR.*",log_data, re.MULTILINE)

In [ ]:
for i in error:
  print(i)

ERROR Disk space low
ERROR Connection timeout

‚úÖ

# [2025-03-01 12:00:00] ERROR Disk space low </br>
# [2025-03-01 12:05:00] INFO Server running </br>
# [2025-03-01 12:10:00] ERROR Connection lost </br>

In [ ]:
log_data_tm= """[2025-03-01 12:00:00] ERROR Disk space low
[2025-03-01 12:05:00] INFO Server running
[2025-03-01 12:10:00] ERROR Connection lost
"""

In [ ]:
log_data_tm.split("\n")

['[2025-03-01 12:00:00] ERROR Disk space low',
 '[2025-03-01 12:05:00] INFO Server running',
 '[2025-03-01 12:10:00] ERROR Connection lost',
 '']

In [ ]:
for i in log_data_tm.split("\n"):
  if re.search(r"ERROR",i):
    print(i)

[2025-03-01 12:00:00] ERROR Disk space low
[2025-03-01 12:10:00] ERROR Connection lost

In [ ]:
for i in log_data.split("\n"):
  if re.search(r"ERROR",i):
    print(i)

ERROR Disk space low
ERROR Connection timeout

In [ ]:
log_data_tm= """[2025-03-01 12:00:00] ERROR Disk space low
[2025-03-01 12:05:00] INFO Server running
[2025-03-01 12:10:00] ERROR Connection lost
"""

In [ ]:
for i in log_data_tm.split("\n"):
  if re.search(r'ERROR.*',i):
    print(i)

[2025-03-01 12:00:00] ERROR Disk space low
[2025-03-01 12:10:00] ERROR Connection lost

# [2024-04-23 10:15:34] 192.168.1.100 "GET /page.html HTTP/1.1" 200 1234 </br>
# [2024-04-23 10:16:21] 192.168.1.101 "POST /submit.php HTTP/1.1" 404 4321  </br>
# [2024-04-23 10:17:45] 192.168.1.102 "GET /index.html HTTP/1.1" 200 5678  </br>
# [2024-04-23 10:18:02] 192.168.1.103 "GET /about.html HTTP/1.1" 200 7890  </br>
# [2024-04-23 10:19:15] 192.168.1.104 "POST /contact.php HTTP/1.1" 403 9876  </br>
# [2024-04-23 10:20:30] 192.168.1.105 "GET /faq.html HTTP/1.1" 200 6543  </br>
# [2024-04-23 10:21:34] 192.168.1.106 "GET /page.html HTTP/1.1" 502 1230  </br>

In [ ]:
log_req= """[2024-04-23 10:15:34] 192.168.1.100 "GET /page.html HTTP/1.1" 200 1234
[2024-04-23 10:16:21] 192.168.1.101 "POST /submit.php HTTP/1.1" 404 4321
[2024-04-23 10:17:45] 192.168.1.102 "GET /index.html HTTP/1.1" 200 5678
[2024-04-23 10:18:02] 192.168.1.103 "GET /about.html HTTP/1.1" 200 7890
[2024-04-23 10:19:15] 192.168.1.104 "POST /contact.php HTTP/1.1" 403 9876
[2024-04-23 10:20:30] 192.168.1.105 "GET /faq.html HTTP/1.1" 200 6543
[2024-04-23 10:21:34] 192.168.1.106 "GET /page.html HTTP/1.1" 502 1230
"""

In [ ]:
log_req.split("\n")

['[2024-04-23 10:15:34] 192.168.1.100 "GET /page.html HTTP/1.1" 200 1234',
 '[2024-04-23 10:16:21] 192.168.1.101 "POST /submit.php HTTP/1.1" 404 4321',
 '[2024-04-23 10:17:45] 192.168.1.102 "GET /index.html HTTP/1.1" 200 5678',
 '[2024-04-23 10:18:02] 192.168.1.103 "GET /about.html HTTP/1.1" 200 7890',
 '[2024-04-23 10:19:15] 192.168.1.104 "POST /contact.php HTTP/1.1" 403 9876',
 '[2024-04-23 10:20:30] 192.168.1.105 "GET /faq.html HTTP/1.1" 200 6543',
 '[2024-04-23 10:21:34] 192.168.1.106 "GET /page.html HTTP/1.1" 502 1230',
 '']

In [ ]:
import re
for i in log_req.split("\n"):
  if re.search(r"GET.*",i):
    print(i)

[2024-04-23 10:15:34] 192.168.1.100 "GET /page.html HTTP/1.1" 200 1234
[2024-04-23 10:17:45] 192.168.1.102 "GET /index.html HTTP/1.1" 200 5678
[2024-04-23 10:18:02] 192.168.1.103 "GET /about.html HTTP/1.1" 200 7890
[2024-04-23 10:20:30] 192.168.1.105 "GET /faq.html HTTP/1.1" 200 6543
[2024-04-23 10:21:34] 192.168.1.106 "GET /page.html HTTP/1.1" 502 1230

In [ ]:
for i in log_req.split("\n"):
  if re.search(r"GET.*",i):
    if re.search(r"200",i):
      print(i)

[2024-04-23 10:15:34] 192.168.1.100 "GET /page.html HTTP/1.1" 200 1234
[2024-04-23 10:17:45] 192.168.1.102 "GET /index.html HTTP/1.1" 200 5678
[2024-04-23 10:18:02] 192.168.1.103 "GET /about.html HTTP/1.1" 200 7890
[2024-04-23 10:20:30] 192.168.1.105 "GET /faq.html HTTP/1.1" 200 6543

In [ ]:
response_size=[]
for i in log_req.split("\n"):
  if re.search(r"GET.*",i):
    match = re.search(r'\d+$', i)
    if match:
      response_size.append(int(match.group()))
print(response_size)

[1234, 5678, 7890, 6543, 1230]

In [ ]:
log_data = """
[2025-03-01 12:00:00] ERROR Disk space low
[2025-03-01 12:05:00] INFO Server running
[2025-03-01 12:10:00] error Connection lost
"""

In [ ]:
log_data.split("\n")

['',
 '[2025-03-01 12:00:00] ERROR Disk space low',
 '[2025-03-01 12:05:00] INFO Server running',
 '[2025-03-01 12:10:00] error Connection lost',
 '']

In [ ]:
for i in log_data.split("\n"):
  if re.search(r"ERROR.*",i,re.IGNORECASE):
    print(i)

[2025-03-01 12:00:00] ERROR Disk space low
[2025-03-01 12:10:00] error Connection lost

In [ ]:
log_data = """
[2025-03-01 12:00:00] ERROR Disk space low
[2025-03-01 12:05:00] INFO Server running
[2025-03-01 12:10:00] ERROR Connection lost
"""

In [ ]:
for i in log_data.split("\n"):
  match= re.search(r"\[(.*)\]",i)
  if match:
     print(match.group(1))

2025-03-01 12:00:00
2025-03-01 12:05:00
2025-03-01 12:10:00

In [ ]:
for i in log_data.split("\n"):
  match = re.search(r"\[(.*?)\]",i)
  if match:
    print(match.group(1))

2025-03-01 12:00:00
2025-03-01 12:05:00
2025-03-01 12:10:00

In [ ]:
re.search(r"\[(.*?)\]",i)

# Question: How do you count how many times "ERROR" appears in the log file?

In [ ]:
log_data = """
[2025-03-01 12:00:00] ERROR Disk space low
[2025-03-01 12:05:00] INFO Server running
[2025-03-01 12:10:00] ERROR Connection lost
"""

In [ ]:
log_data.split("\n")

['',
 '[2025-03-01 12:00:00] ERROR Disk space low',
 '[2025-03-01 12:05:00] INFO Server running',
 '[2025-03-01 12:10:00] ERROR Connection lost',
 '']

In [ ]:
log_data.count("ERROR")

2

In [ ]:
data = log_data.count("INFO")

In [ ]:
print("count is info msg: ",data)

count is info msg:  1

# Extract Only ERROR Messages

In [ ]:
log_data = """
[2025-03-01 12:00:00] ERROR Disk space low
[2025-03-01 12:05:00] INFO Server running
[2025-03-01 12:10:00] ERROR Connection lost
"""

In [ ]:
log_data.split("\n")

['',
 '[2025-03-01 12:00:00] ERROR Disk space low',
 '[2025-03-01 12:05:00] INFO Server running',
 '[2025-03-01 12:10:00] ERROR Connection lost',
 '']

In [ ]:
for i in log_data.split("\n"):
  if re.search(r"ERROR.*",i,re.IGNORECASE):
    print(i)

[2025-03-01 12:00:00] ERROR Disk space low
[2025-03-01 12:10:00] ERROR Connection lost

# 4. Extract the Error Messages (Without Timestamp & "ERROR")

In [ ]:
for i in log_req.split("\n"):
  if re.search(r"GET.*",i):
    if re.search(r"200",i):
      print(i)

[2024-04-23 10:15:34] 192.168.1.100 "GET /page.html HTTP/1.1" 200 1234
[2024-04-23 10:17:45] 192.168.1.102 "GET /index.html HTTP/1.1" 200 5678
[2024-04-23 10:18:02] 192.168.1.103 "GET /about.html HTTP/1.1" 200 7890
[2024-04-23 10:20:30] 192.168.1.105 "GET /faq.html HTTP/1.1" 200 6543

In [ ]:
log_data = """
[2025-03-01 12:00:00] ERROR Disk space low
[2025-03-01 12:05:00] INFO Server running
[2025-03-01 12:10:00] ERROR Connection lost
"""

In [ ]:
log_data.split("\n")

['',
 '[2025-03-01 12:00:00] ERROR Disk space low',
 '[2025-03-01 12:05:00] INFO Server running',
 '[2025-03-01 12:10:00] ERROR Connection lost',
 '']

In [ ]:
for i in log_data.split("\n"):
  if re.search(r"ERROR",i):
    print(i)

[2025-03-01 12:00:00] ERROR Disk space low
[2025-03-01 12:10:00] ERROR Connection lost

üîπ When to Use match = re.search(...) </br>
Use when you need to extract a specific part of the text. </br>
‚úÖ Example (Extracting error message): </br>

In [ ]:
for i in log_data.split(("\n")):
  match = re.search(r"ERROR\s(.*)",i)
  if match:
    print(match.group(1))

Disk space low
Connection lost

In [ ]:
log_req= """[2024-04-23 10:15:34] 192.168.1.100 "GET /page.html HTTP/1.1" 200 1234
[2024-04-23 10:16:21] 192.168.1.101 "POST /submit.php HTTP/1.1" 404 4321
[2024-04-23 10:17:45] 192.168.1.102 "GET /index.html HTTP/1.1" 200 5678
[2024-04-23 10:18:02] 192.168.1.103 "GET /about.html HTTP/1.1" 200 7890
[2024-04-23 10:19:15] 192.168.1.104 "POST /contact.php HTTP/1.1" 403 9876
[2024-04-23 10:20:30] 192.168.1.105 "GET /faq.html HTTP/1.1" 200 6543
[2024-04-23 10:21:34] 192.168.1.106 "GET /page.html HTTP/1.1" 502 1230
"""

In [ ]:
for i in log_req.split("\n"):
  if re.search(r"GET.*\s200.*\s",i):
    print(i)

[2024-04-23 10:15:34] 192.168.1.100 "GET /page.html HTTP/1.1" 200 1234
[2024-04-23 10:17:45] 192.168.1.102 "GET /index.html HTTP/1.1" 200 5678
[2024-04-23 10:18:02] 192.168.1.103 "GET /about.html HTTP/1.1" 200 7890
[2024-04-23 10:20:30] 192.168.1.105 "GET /faq.html HTTP/1.1" 200 6543

# 5. Check if Log Contains a Specific Error

In [ ]:
log_data = """
[2025-03-01 12:00:00] ERROR Disk space low
[2025-03-01 12:05:00] INFO Server running
[2025-03-01 12:10:00] ERROR Connection lost
"""

In [ ]:
if "Connection lost" in log_data :
  print("Check with infra team log contain 'Connection lost' ")

Check with infra team log contain 'Connection lost'

# 6. Replace ERROR with CRITICAL in Log Data

In [ ]:
log_data = """
[2025-03-01 12:00:00] ERROR Disk space low
[2025-03-01 12:05:00] INFO Server running
[2025-03-01 12:10:00] ERROR Connection lost
"""

In [ ]:
update_log = log_data.replace("ERROR","CRITICAL")

print(update_log)

[2025-03-01 12:00:00] CRITICAL Disk space low
[2025-03-01 12:05:00] INFO Server running
[2025-03-01 12:10:00] CRITICAL Connection lost

In [ ]:
log_data="""[2025-03-01 12:00:00] ERROR Disk space low
[2025-03-01 12:05:00] INFO Server running
[2025-03-01 12:10:00] ERROR Connection lost"""

In [ ]:
for i in log_data.split("\n"):
  match = re.search(r"ERROR\s(.*)",i)
  if match:
    print(match.group(1))

Disk space low
Connection lost

# 8. Extract Only the IP Addresses from Access Logs

In [97]:
# [2024-04-23 10:15:34] 192.168.1.100 "GET /page.html HTTP/1.1" 200 1234
# [2024-04-23 10:16:21] 192.168.1.101 "POST /submit.php HTTP/1.1" 404 4321

In [98]:
log_data=""" [2024-04-23 10:15:34] 192.168.1.100 "GET /page.html HTTP/1.1" 200 1234
[2024-04-23 10:16:21] 192.168.1.101 "POST /submit.php HTTP/1.1" 404 4321
"""

In [100]:
for i in log_data.split("\n"):
    match = re.search(r"\d+\.\d+\.\d+\.\d+", i)
    if match:
        print(match.group())

192.168.1.100
192.168.1.101

In [101]:
#shell script

#!/bin/bash


# log_data=$(cat << EOF

# [2024-04-23 10:15:34] 192.168.1.100 "GET /page.html HTTP/1.1" 200 1234
# [2024-04-23 10:16:21] 192.168.1.101 "POST /submit.php HTTP/1.1" 404 4321

# EOF)


# echo "$log_data" | awk '{print $3}'

# 9. Find the Most Recent ERROR Log

In [102]:
# sheel script


# log_data=$(cat <<EOF
# [2025-03-01 12:00:00] ERROR Disk space low
# [2025-03-01 12:05:00] INFO Server running
# [2025-03-01 12:10:00] ERROR Connection lost
# EOF
# )

# echo "$log_data" | grep "ERROR" | tail -n 1

# Extract Only the HTTP Methods (GET, POST, etc.)

In [104]:
log_req="""[2024-04-23 10:15:34] 192.168.1.100 \"GET /page.html HTTP/1.1\" 200 1234
[2024-04-23 10:16:21] 192.168.1.101 \"POST /submit.php HTTP/1.1\" 404 4321
[2024-04-23 10:17:45] 192.168.1.102 \"GET /index.html HTTP/1.1\" 200 5678
[2024-04-23 10:18:02] 192.168.1.103 \"GET /about.html HTTP/1.1\" 200 7890
[2024-04-23 10:19:15] 192.168.1.104 \"POST /contact.php HTTP/1.1\" 403 9876
[2024-04-23 10:20:30] 192.168.1.105 \"GET /faq.html HTTP/1.1\" 200 6543
[2024-04-23 10:21:34] 192.168.1.106 \"GET /page.html HTTP/1.1\" 502 1230"""

In [117]:
for i in  log_req.split("\n"):
  match = re.search(r"(GET|POST)",i)
  if match:
    print(match.group())

GET
POST
GET
GET
POST
GET
GET

# *Extract Response Status Codes from Logs*

In [126]:
log_req="""[2024-04-23 10:15:34] 192.168.1.100 \"GET /page.html HTTP/1.1\" 200 1234
[2024-04-23 10:16:21] 192.168.1.101 \"POST /submit.php HTTP/1.1\" 404 4321
[2024-04-23 10:17:45] 192.168.1.102 \"GET /index.html HTTP/1.1\" 200 5678
[2024-04-23 10:18:02] 192.168.1.103 \"GET /about.html HTTP/1.1\" 200 7890
[2024-04-23 10:19:15] 192.168.1.104 \"POST /contact.php HTTP/1.1\" 403 9876
[2024-04-23 10:20:30] 192.168.1.105 \"GET /faq.html HTTP/1.1\" 200 6543
[2024-04-23 10:21:34] 192.168.1.106 \"GET /page.html HTTP/1.1\" 502 1230"""

In [120]:
# #!/bin/bash


# log_req=$(cat <<EOF
# [2024-04-23 10:15:34] 192.168.1.100 "GET /page.html HTTP/1.1" 200 1234
# [2024-04-23 10:16:21] 192.168.1.101 "POST /submit.php HTTP/1.1" 404 4321
# [2024-04-23 10:17:45] 192.168.1.102 "GET /index.html HTTP/1.1" 200 5678
# [2024-04-23 10:18:02] 192.168.1.103 "GET /about.html HTTP/1.1" 200 7890
# [2024-04-23 10:19:15] 192.168.1.104 "POST /contact.php HTTP/1.1" 403 9876
# [2024-04-23 10:20:30] 192.168.1.105 "GET /faq.html HTTP/1.1" 200 6543
# [2024-04-23 10:21:34] 192.168.1.106 "GET /page.html HTTP/1.1" 502 1230
# EOF
# )



# echo "$log_req" | awk '{print$7}'

In [129]:

log_req = """[2024-04-23 10:15:34] 192.168.1.100 "GET /page.html HTTP/1.1" 200 1234
[2024-04-23 10:16:21] 192.168.1.101 "POST /submit.php HTTP/1.1" 404 4321
[2024-04-23 10:17:45] 192.168.1.102 "GET /index.html HTTP/1.1" 200 5678
[2024-04-23 10:18:02] 192.168.1.103 "GET /about.html HTTP/1.1" 200 7890
[2024-04-23 10:19:15] 192.168.1.104 "POST /contact.php HTTP/1.1" 403 9876
[2024-04-23 10:20:30] 192.168.1.105 "GET /faq.html HTTP/1.1" 200 6543
[2024-04-23 10:21:34] 192.168.1.106 "GET /page.html HTTP/1.1" 502 1230"""

for i in log_req.split("\n"):
    match = re.search(r'(200|301|302|403|404|500|502|503)', i)
    if match:
        print(match.group())  # Extracts only the status code

200
404
200
200
403
200
502

# Extract URLs from Logs

In [121]:
# #!/bin/bash


# log_req=$(cat <<EOF
# [2024-04-23 10:15:34] 192.168.1.100 "GET /page.html HTTP/1.1" 200 1234
# [2024-04-23 10:16:21] 192.168.1.101 "POST /submit.php HTTP/1.1" 404 4321
# [2024-04-23 10:17:45] 192.168.1.102 "GET /index.html HTTP/1.1" 200 5678
# [2024-04-23 10:18:02] 192.168.1.103 "GET /about.html HTTP/1.1" 200 7890
# [2024-04-23 10:19:15] 192.168.1.104 "POST /contact.php HTTP/1.1" 403 9876
# [2024-04-23 10:20:30] 192.168.1.105 "GET /faq.html HTTP/1.1" 200 6543
# [2024-04-23 10:21:34] 192.168.1.106 "GET /page.html HTTP/1.1" 502 1230
# EOF
# )




# echo "$log_req" | awk '{print$5}'

# Extract unique IP address

In [130]:
# #!/bin/bash


# log_req=$(cat <<EOF
# [2024-04-23 10:15:34] 192.168.1.100 "GET /page.html HTTP/1.1" 200 1234
# [2024-04-23 10:16:21] 192.168.1.101 "POST /submit.php HTTP/1.1" 404 4321
# [2024-04-23 10:17:45] 192.168.1.101 "GET /index.html HTTP/1.1" 200 5678
# [2024-04-23 10:18:02] 192.168.1.104 "GET /about.html HTTP/1.1" 200 7890
# [2024-04-23 10:19:15] 192.168.1.104 "POST /contact.php HTTP/1.1" 403 9876
# [2024-04-23 10:20:30] 192.168.1.105 "GET /faq.html HTTP/1.1" 200 6543
# [2024-04-23 10:21:34] 192.168.1.106 "GET /page.html HTTP/1.1" 502 1230
# EOF
# )



# echo "$log_req" | awk '{print$3}' | uniq